Package: com.itsjafer.stopshortcutnotifications
Name: StopShortcutNotifications
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: itsjafer
Author: itsjafer
Section: Tweaks
